<h1>New Game</h1>

<div class = "letters d-flex">
  <p><% @letters.each do |letter| %></p>
    <p class="justify-content-center letter">
    <%= letter %>
    </p>
  <% end %>
</div>

<div class = "submit container">
  <form action="/score" method="post" data-turbo="false">
    <p> What is the longest word you can find?</p>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="input-group">
      <input type="text" name="member" value="<%= params[:member] %>" placeholder="HERE" class="form-control">
      <input type="submit" class="btn btn-primary">
    </div>
 </form>
</div>
